html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.header {
    background-color: #678bed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title {
    color: #f4f4f4;
    font-size: 24px;
    padding-left: 14vw;
}
#navbar {
    list-style: none;
    font-size: 18px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding-right: 14vw;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 6vw 14vw 8vw 14vw;
    background-color:#678bed;
    gap: 4vw;
}

.fake-img {
    background-color: #999999;
    flex: 1;
    color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.hero {
    flex: 1;
}

.hero > h1 {
    font-size: 48px;
    color: #f4f4f4;
    font-weight: 700;
    margin: 0;
    margin-bottom: -0.2em;
}

.hero > p {
    font-size: 18px;
    color: #e4e4e4;
}

#hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #463da5;
    color: #f4f4f4;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 8px;
    border: 0;
    font-size: 18px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;
}
.section2 > h1 {
    margin: 1.5em;
    font-size: 32px;
    color: #678bed;
}
.image-container {
    display: flex;
    justify-content: center;
    gap: 3em;
}
.card {
    flex: 1;
    text-align: center;
    width: 10em;
}
.card > p {
    color: #678bed;
    font-size: 17px;
    margin-top: 10px;
}
.fake-img2 {
    border: 4px solid #463da5;
    border-radius: 20px;
    height: 10em;
}

.section3 {
    background-color: #e4e4e4;
    padding: 8vw 24vw 6vw 24vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #678bed;
} 
.section3 > blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}
.section3 > p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6vw 14vw 6vw 14vw;
    background-color: #f4f4f4;;
}

.innercontainer {
    background-color: #463da5;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    padding: 3em 4em 3em 4em;
    border-radius: 8px;
}
.actiontext {
    color: #f4f4f4;
}
.actiontext > h4 {
    margin: 0;
    font-size: 24px;
}
.buttontwo {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #463da5;
    color: #f4f4f4;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 8px;
    border: 2px solid #f4f4f4;
    font-size: 18px;
}

.footer {
    background-color: #678bed;
    color: #f4f4f4;
    padding: 2.4em;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}