html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title {
    color: #f9faf8;
    font-size: 24px;
    padding-left: 14vw;
}
#navbar {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding-right: 14vw;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 6vw 14vw 8vw 14vw;
    background-color:#1F2937;
    gap: 4vw;
}

.fake-img {
    background-color: #999999;
    flex: 1;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.hero {
    flex: 1;
}

.hero > h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 700;
    margin: 0;
    margin-bottom: -0.2em;
}

.hero > p {
    font-size: 18px;
    color: #e5e7eb;
}

#hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #f9faf8;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 8px;
    border: 0;
    font-size: 18px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;
}
.section2 > h1 {
    margin: 1.5em;
    font-size: 32px;
    color: #1F2937
}
.image-container {
    display: flex;
    justify-content: center;
    gap: 3em;
}
.card {
    flex: 1;
    text-align: center;
    width: 10em;
}
.card > p {
    color: #1F2937;
    font-size: 17px;
    margin-top: 10px;
}
.fake-img2 {
    border: 4px solid #3882F6;
    border-radius: 20px;
    height: 10em;
}