html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}

.header {
    background-color: #1F2937;
}
#title {
    color: #f9faf8;
    font-size: 24px;
    
}